@import 'variables';

body {
  font-family: $font;
}

.container-fluid {
  padding: 0;
}

.title--h1, .title--h2 {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.title--h1 {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 100px 0 30px;
}

.title--h2 {
  font-size: 28px;
  padding: 0 0 30px;
}

.title--c2a {
  font-weight: bold;
  max-width: 300px;
  background-color: $button-color;
  color: #fff;
  text-align: center;
  padding: 13px;
  border-radius: 2px;
  margin: 0 auto;
}

.title--callUsButton {
  float: right;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border: solid 1px rgb(233, 234, 235);
  border-radius: 5px;
  padding: 10px 0;
  margin: 20px;

  a {
    font-weight: bold;
    color: $button-color;

  }
}


.shape--1 {
  width: 250px;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 300px solid rgb(239, 239, 239);
  position: absolute;
}

.shape--2 {
  width: 100px;
  height: 0;
  border-right: 150px solid transparent;
  border-top: 65px solid rgb(239, 239, 239);
  position: absolute;
  top:300px;
}

.shape--3 {
  width: 300px;
  position: absolute;
}

.shape--4 {
  position: absolute;

  img {
    width: 300px;
  }
}